Practice_Projects/include_or_exclude_feilds/src/main/mule/include_or_exclude_feilds.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="include_or_exclude_feildsFlow" doc:id="23b09d20-1dbb-4ee5-b617-f41188867464" >
		<ee:transform doc:name="Transform Message" doc:id="b51dbbb3-7e06-4522-b02e-642b871050db" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---

users: {
      (payload.users mapObject {
        user: {
        personal_information: $.personal_information - "ssn",
        login_information: $.login_information - "password"
        }
      })
      }
      ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
