Practice_Projects/upsert_records_without_api/src/main/mule/upsert_records_without_api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6e58d665-2411-4084-b2f3-a1954f45ee9c" >
		<http:listener-connection host="0.0.0.0" port="8082" />
	</http:listener-config>
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="d2a920d1-2c6b-4070-bb76-ac6c153d1f63" >
		<salesforce:basic-connection username="akkigariaswini33@gmail.com" password="Aswini@2001" securityToken="Wxsl56GLiPn2pseAX992eT01" url="https://login.salesforce.com/services/Soap/u/55.0" />
	</salesforce:sfdc-config>
	<flow name="upsert_records_without_apiFlow" doc:id="9e41add6-d58e-4538-be42-553e203d15a2" >
		<http:listener doc:name="Listener" doc:id="4c164b7a-9a42-4172-bcfd-63a396751dc9" config-ref="HTTP_Listener_config" path="/upsertRecords"/>
		<ee:transform doc:name="Transform Message" doc:id="1ad6eea7-7bfa-4dfc-b804-66878eb1fd60" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="Allrecords" ><![CDATA[%dw 2.0
output application/json 
---
payload map (item,index) ->
{
	"AuraComponents__studentId__c" : item.studentId,
	"LastName" :item.lastName,
	"AuraComponents__disability__c":item.disability,
	"AuraComponents__flexible_attendance__c":item.flexible_attendance,
	"AuraComponents__StudentVisaProxy__c":item.StudentVisaProxy,
	"AuraComponents__CurrentConsecutiveMissedPointsOfContact__c":item.CurrentConsecutiveMissedPointsOfContact,
	"AuraComponents__PercentAttendanceLast4Weeks__c":item.PercentAttendanceLast4Weeks,
	"AuraComponents__AuthorizedAbsences__c":item.AuthorizedAbsences,
	"AuraComponents__PercentAttendanceYear__c":item.PercentAttendanceYear
	
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<salesforce:upsert doc:name="Upsert" doc:id="31221ff9-11c9-45e7-961d-73255c8feed8" config-ref="Salesforce_Config" externalIdFieldName="AuraComponents__studentId__c" objectType="Contact">
			<salesforce:records ><![CDATA[#[vars.Allrecords]]]></salesforce:records>
		</salesforce:upsert>
		<logger level="INFO" doc:name="Logger" doc:id="cbbb7646-63bb-4ad9-afa1-f19dc1482a8e" message="#[%dw 2.0&#10;output application/json&#10;---&#10;payload.items.payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="f4f689bc-eb93-4d87-8ee0-45957d8e2086" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json skipNullOn="everywhere"
---
payload.items.payload map(item,index) -> 
if(item.success == false)({ 
	"AuraComponents__studentId__c" : vars.Allrecords[index].AuraComponents__studentId__c,
	"LastName" :vars.Allrecords[index].LastName,
	"AuraComponents__error__c" :item.errors.message
})else(null)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:upsert doc:name="Upsert" doc:id="a9d368bf-a7f1-40d6-96a6-079b8a96515f" externalIdFieldName="AuraComponents__studentId__c" config-ref="Salesforce_Config" objectType="Contact">
		</salesforce:upsert>
		<ee:transform doc:name="Transform Message" doc:id="12b7510d-6442-40b4-a869-e2e86f108b63">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
