Practice_Projects/bulk_of_salesforce_records/src/main/mule/bulk_of_salesforce_records.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="270df7fd-2bd1-456f-83b0-bae70c09cc18" >
		<http:listener-connection host="0.0.0.0" port="8084" />
	</http:listener-config>
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="6ef27fd7-c417-4f76-807c-8be39dcc7c31" >
		<salesforce:basic-connection username="akkigariaswini33@gmail.com" password="Aswini@2001" securityToken="Wxsl56GLiPn2pseAX992eT01" url="https://login.salesforce.com/services/Soap/u/55.0" />
	</salesforce:sfdc-config>
	<flow name="bulk_of_salesforce_recordsFlow" doc:id="5ee18c82-ec61-4c03-a57b-c9788064814b" >
		<http:listener doc:name="Listener" doc:id="4477eb7f-abc6-499d-a1fc-00a7ca832bc3" path="/insertRecords" config-ref="HTTP_Listener_config"/>
		
		
		
		<set-variable value="#[[]]" doc:name="Set Variable" doc:id="9275e085-39d1-466f-b1f7-af6a2702ce26" variableName="jsonResult"/>

		<foreach doc:name="For Each" doc:id="b9a73c46-ef65-470a-8d2e-cf6ed0ef2528" batchSize="10">
			<ee:transform doc:name="Transform Message" doc:id="19219e7d-c66c-4d6a-b89d-1baae5de0d32" >
				<ee:message >
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="storeData" ><![CDATA[%dw 2.0
output application/json 
---
payload map (item,index) ->
{
	"AuraComponents__studentId__c" : item.studentId,
	"LastName" :item.lastName,
	"AuraComponents__disability__c":item.disability,
	"AuraComponents__flexible_attendance__c":item.flexible_attendance,
	"AuraComponents__StudentVisaProxy__c":item.StudentVisaProxy,
	"AuraComponents__CurrentConsecutiveMissedPointsOfContact__c":item.CurrentConsecutiveMissedPointsOfContact,
	"AuraComponents__PercentAttendanceLast4Weeks__c":item.PercentAttendanceLast4Weeks,
	"AuraComponents__AuthorizedAbsences__c":item.AuthorizedAbsences,
	"AuraComponents__PercentAttendanceYear__c":item.PercentAttendanceYear,
	
	
}]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<salesforce:upsert doc:name="Upsert" doc:id="3492d421-c3a4-4b22-847a-2fba657ccaff" config-ref="Salesforce_Config" objectType="Contact" externalIdFieldName="AuraComponents__studentId__c">
				<salesforce:records ><![CDATA[#[vars.storeData]]]></salesforce:records>
			</salesforce:upsert>
			<ee:transform doc:name="Transform Message" doc:id="2ef68469-6616-424e-9850-bb9341ec7d98">
				<ee:message>
				</ee:message>
				<ee:variables>
					<ee:set-variable variableName="errordata"><![CDATA[%dw 2.0
output application/json skipNullOn="everywhere"
---
payload.items.payload map(item,index) -> 
if(item.success == false)({ 
	"AuraComponents__studentId__c" : vars.storeData[index].AuraComponents__studentId__c,
	"LastName" :vars.storeData[index].LastName,
	"AuraComponents__error__c" :item.errors.message
})else(null)]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<ee:transform doc:name="Transform Message" doc:id="15f2a393-9045-4690-9bb2-ce3d0b98920e">
				<ee:message>
				</ee:message>
				<ee:variables>
					<ee:set-variable variableName="jsonResult"><![CDATA[%dw 2.0
output application/json skipNullOn="everywhere" 
---
vars.jsonResult + (payload.items.payload map(item,index) -> 
   if(item.success == false)({
      "AuraComponents__studentId__c" : vars.storeData[index].AuraComponents__studentId__c,
      "LastName" : vars.storeData[index].LastName,
      "AuraComponents__disability__c":vars.storeData[index].AuraComponents__disability__c,
      "AuraComponents__flexible_attendance__c":vars.storeData[index].AuraComponents__flexible_attendance__c,
      "AuraComponents__StudentVisaProxy__c":vars.storeData[index].AuraComponents__StudentVisaProxy__c,
      "AuraComponents__CurrentConsecutiveMissedPointsOfContact__c":vars.storeData[index].AuraComponents__CurrentConsecutiveMissedPointsOfContact__c,
      "AuraComponents__PercentAttendanceLast4Weeks__c":vars.storeData[index].AuraComponents__PercentAttendanceLast4Weeks__c,
      "AuraComponents__AuthorizedAbsences__c":vars.storeData[index].AuraComponents__AuthorizedAbsences__c,
      "AuraComponents__PercentAttendanceYear__c":vars.storeData[index].AuraComponents__PercentAttendanceYear__c,
      "AuraComponents__error__c  " :  item.errors.message
      
      }) else (null))]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<salesforce:upsert doc:name="Upsert" doc:id="5cc800d1-64b9-417d-8334-540171f3072f" config-ref="Salesforce_Config" objectType="Contact" externalIdFieldName="AuraComponents__studentId__c">
				<salesforce:records ><![CDATA[#[vars.errordata]]]></salesforce:records>
			</salesforce:upsert>
		</foreach>
		<ee:transform doc:name="Transform Message" doc:id="b97e7c05-98bb-4bbc-9b2c-9cb74f0f00d7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
vars.jsonResult]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="f38f6254-1ac1-4b3c-97b6-ffff9bbd65a9" message="#[%dw 2.0&#10;output application/json&#10;---&#10;vars.jsonResult]"/>
	</flow>
</mule>
