Practice_Projects/ftp_createcontactassignment/src/main/mule/ftp_createcontactassignment.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ftp="http://www.mulesoft.org/schema/mule/ftp" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/ftp http://www.mulesoft.org/schema/mule/ftp/current/mule-ftp.xsd">
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="9d3b8b49-49b9-4713-8438-5e066e3637d5" >
		<salesforce:basic-connection username="akkigariaswini33@gmail.com" password="Aswini@2001" securityToken="Wxsl56GLiPn2pseAX992eT01" />
	</salesforce:sfdc-config>
	<ftp:config name="FTP_Config" doc:name="FTP Config" doc:id="19595702-3096-4abe-988e-ade2591c62a6" >
		<ftp:connection username="Test-User2" password="Test-User2" host="localhost"/>
	</ftp:config>
	<flow name="ftp_createcontactassignmentFlow" doc:id="46c44148-392f-4c51-9365-f80d37354595" >
		<salesforce:subscribe-channel-listener doc:name="Subscribe channel listener" doc:id="05f1c2f4-abd6-4a13-a50b-1640e6ea0e9a" config-ref="Salesforce_Config" streamingChannel="/data/ContactChangeEvent"/>
		<logger level="INFO" doc:name="Logger" doc:id="87b8aed1-56cd-4d4e-98e6-93b9957671db" message="#[%dw 2.0&#10;output application/json &#10;---&#10;payload]"/>
		<salesforce:query doc:name="Query" doc:id="3b5ae4b3-16aa-4d8d-95b1-ab83bac73d8f" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[SELECT Id,FirstName, LastName, Email, Phone, Salutation, Account.Name, Birthdate, Department, Title, AuraComponents__legacy_id__c from Contact where Id = ':recordIds']]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[%dw 2.0
output application/json 
---
{
	"recordIds" : payload.data.payload.ChangeEventHeader.recordIds[0]
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="9f5803a6-9011-49d8-ac39-ecb34ec1907e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv
---
payload map ( payload01 , indexOfPayload01 ) -> {
	id: payload01.Id default "",
	FirstName: payload01.FirstName default "",
	LastName: payload01.LastName default "",
	Phone: payload01.Phone default "",
	Salutation: payload01.Salutation default "",
	"Account.Name": payload01.Account[0].Name default "",
	Birthdate: payload01.Birthdate as String default "",
	Department: payload01.Department default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ftp:write doc:name="Write" doc:id="811d439a-0397-495b-8339-ea91bf971fcc" path='#["/" ++ payload[0].FirstName ++ "_" ++ payload[0].LastName ++ ".csv"]' config-ref="FTP_Config"/>
	</flow>
</mule>
