Practice_Projects/samplelogin/src/main/mule/samplelogin.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="359b73c9-5fbf-40c3-a3a6-e2f9c5c0685e" >
    <http:listener-connection host="0.0.0.0" port="8082" />
</http:listener-config>
	<flow name="serveHtmlFlow" >
    <http:listener doc:name="Listener" doc:id="434610af-c43c-463c-8e9b-569189d093a3" config-ref="HTTP_Listener_config" path="/signuppage"/>
		<parse-template doc:name="Parse Template" doc:id="0f396154-4ec4-454a-b445-fbeee019d189" location="C:\Users\ibirds\AnypointStudio\studio-workspace\loginsignupflow\src\main\resources\signup.html" targetValue="#[payload]"/>

</flow>
	<flow name="signup-pageFlow" doc:id="53abaada-24b9-4fe9-bd98-fcdb7582dd1e" >
		<http:listener doc:name="Listener" doc:id="334b1188-3eab-44ca-8019-ed50499d9cc6" config-ref="HTTP_Listener_config" path="/signup"/>
		<ee:transform doc:name="Transform Message" doc:id="867b6a75-fee5-4730-89ce-92cb6ed9aee1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="dae5bf0c-fbf1-4d4e-abb0-c692cc17a315" message="#[payload]"/>
	
</flow>
	
	</mule>
