Practice_Projects/xml_json/src/main/mule/xml_json.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="xml_jsonFlow" doc:id="d48de2c4-4086-4afa-9df0-7b644c2653ca" >
		<ee:transform doc:name="Transform Message" doc:id="4587ba32-ce62-4962-995c-4506acb3c5b7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
PurchaseOrder:{
		PurchaseOrderNumber :payload.PurchaseOrder.@PurchaseOrderNumber,
		OrderDate :payload.PurchaseOrder.@OrderDate,
		DeliveryNotes :payload.PurchaseOrder.DeliveryNotes,
		billingAddress : payload.PurchaseOrder.*Address filter $.@Type =='Billing' map
		{
			name :$.Name,
			street :$.Street,
			city :$.City,
			State : $.State,
			country : $.Country,
			postalcode : $.Zip
		},
		shippinggAddress : payload.PurchaseOrder.*Address filter $.@Type =='Shipping' map
		{
			name :$.Name,
			street :$.Street,
			city :$.City,
			State : $.State,
			country : $.Country
			
		},
		items : payload.PurchaseOrder.Items.*Item map
		{
			partNumber :$.@PartNumber,
			ProductName :$.ProductName,
			quantity:$.Quantity,
			price:$.USPrice
			
			
		}
		
		}
	
		
		

]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
